/* You can add global styles to this file, and also import other style files */

.header-color {background-color:rgb(242, 242, 242) !important;}
.alt-background-color {background-color:rgb(235, 235, 235) !important;}
.background-color {background-color:rgb(246, 246, 246)}
.header-text-color {color:#32aafa;}
.title-color {color:'#000000';}
.text-color-dark {color:'#323232';}
.text-color-light {color:'#b0b0b0';}

body {
    margin:0px;
    padding:0px;
}

h1{
    font-size: 48px;;
}
h2{
    font-size:32px;
}

.footer{
    height:9vh;
    position:absolute;
    top:91vh;
    left: 0;
    right: 0;

}

p{
    font-size:18px;
}

.grid-container {
    display: grid;
    column-gap: 8vw;
    grid-template-columns: auto auto auto;
    padding-left: 20vw;
    padding-right: 12vw;
    padding-top:3vh;
}
  
.grid-item {
    border: 2px solid rgba(44, 44, 44, 0.8);
    border-radius:8px;
    padding: 10px;
    text-align: center;
    width: 25vw;
    height: 22vh;
}

.blue-btn{
    border: 1px solid rgb(47, 163, 240);
    border-radius:8px;
    background-color: rgb(50,170,250);
    color:white;
}
.blue-btn:hover{
    background-color: rgb(49, 142, 204);
}