<body style="margin:0px!important;padding:0px!important;">
    <div class="alt-background-color" style="min-height:23vh;" >
        <div style="padding-top:15px;padding-left:100px;padding-right:100px;padding-bottom: 1vh;">
            <h1 class="title-color">Home</h1>
            <hr>
        </div>
        
    </div>
    <div class='background-color' style="min-height:60vh;">
        <div style='padding-top:15px;padding-left:100px;padding-right:100px'>
            <h2 class="text-color-dark" style="margin:0px;">Por que Criamos o OuvICEx?</h2>
            <br>
            <p>
                Nosso propósito é fazer com que os alunos tenham um espaço aberto para exporem tudo que os incomoda. 
                Com isso, podemos levar esses dados às pessoas cabíveis para que assim possamos, juntos, criar um 
                ambiente mais saudável dentro dos corredores do ICEx.
            </p>
            <br>
            <hr>
            <br>
            <h2 class="text-color-dark" style="margin:0px;">Como Funciona?</h2>
            <br>
            <p>
                Faça suas denúnicas, sugestões e reclamações de forma anônima ou não. 
                Basta ir na aba “Envie sua reclamação” e enviar os seus comentários. 
            </p>
            <p>
                Para ler denúncias já feitas, vá até a página de histórico. 
                Lá, você terá a possibilidade de ver todas as denúncias já feitas ou filtrar por departamento, contexto, etc.
            </p>
            <br>
            <hr>
            <br>
        </div>
        
    </div>
</body>
